body {
  font-family: Montserrat;
}
h1 {
  color: #2e2f42;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
}
input {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}
input:hover {
  border: 1px solid #000;
}
