h1 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
}

input {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  padding: 8px 16px;
}

input:hover {
  border: 1px solid var(--input-border-hover-color);
}
